# Tensorflow Tutorial for Python in 10 Minutes

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
df= pd.read_csv("Churn copy.csv")

In [14]:
x = pd.get_dummies(df.drop(["Churn","Customer ID"],axis=1))
y = df["Churn"].apply(lambda x:1 if x=="Yes"  else 0)
x_train,x_test, y_train, y_test= train_test_split(x,y,test_size=.2)

In [15]:
x_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
1443,0,52,100.30,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4358,0,15,20.45,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5045,0,22,104.60,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1537,0,69,75.75,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
6675,0,7,23.50,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
y_train.head()

1443    0
4358    0
5045    0
1537    0
6675    0
Name: Churn, dtype: int64

# 1. Import dependencies

In [17]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

Types of Layers:
i can aslo import layers optimized for images and natural language as well e.g. Conv2D and LSTM

# 2. Build and Compile Model

In [18]:
model = Sequential()
model.add(Dense(units=32, activation="relu",input_dim= len(x_train.columns)))
model.add(Dense(units=64,activation="relu"))
model.add(Dense(units=1, activation="sigmoid"))

In [19]:
model.compile(loss="binary_crossentropy", optimizer="sgd",metrics= "accuracy")

Model Architecture:
Add more layers by using model.add() though keep in mind having more layers will take longer to train

# 3. Fit, Predict and Evalure

In [20]:
model.fit(x_train,y_train, epochs=200, batch_size=32)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

# 4. Saving and Reloading